<a href="https://colab.research.google.com/github/legacy01/codetopia-A/blob/main/Copy_of_Assignment_2_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
number_of_pens = 20
number_of_bicycles = 30
print((number_of_pens < number_of_bicycles))
print(number_of_pens == number_of_bicycles)
```

In [2]:
number_of_pens = 20
number_of_bicycles = 30
print((number_of_pens < number_of_bicycles))
print(number_of_pens == number_of_bicycles)

True
False

# 2. LIST

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
list_1 = ["NAME", "AGE", "SEX", "KOFI", "222", "AMA", "YAW"]
```

In [18]:
list_1 = ["NAME", "AGE", "SEX", "KOFI", "222", "AMA", "YAW"]
print(list_1[0], list_1[1], list_1[6])
print(list_1, list_1[0:3], list_1[6:3:-1])

NAME AGE YAW
['NAME', 'AGE', 'SEX', 'KOFI', '222', 'AMA', 'YAW'] ['NAME', 'AGE', 'SEX'] ['YAW', 'AMA', '222']

**MINI CHALLENGE #3:** 
- **Print NAME**
- **Print AGE, NAME, KOFI** 
- **Print T with two different ways**

```
my_list = ["KWAMI", ["AGE", "NAME", "KOFI"], "YAW", "T"]
```

In [24]:
my_list = ["KWAMI", ["AGE", "NAME", "KOFI"], "YAW", "T"]
print(my_list[1][1])
print(my_list[1])
print(my_list[3])
print(my_list[3::])

NAME
['AGE', 'NAME', 'KOFI']
T
['T']

# 3. DICTIONARY

**MINI CHALLENGE #4:**
- **Create a dictionary with 6 of your favourite items and their prices**

In [40]:
Dict = {'Rollex watch' : 299, 'Airpod' : 199, 'PlayStation 5' : 999, 'Nike - Air Max' : 399, 'HP 15.6" Pavillion' : 7000, 'Galaxy M3' : 14000}
print(Dict)

{'Rollex watch': 299, 'Airpod': 199, 'PlayStation 5': 999, 'Nike - Air Max': 399, 'HP 15.6" Pavillion': 7000, 'Galaxy M3': 14000}

# 4. STRINGS

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a student asking him/her about their feedback regarding the course. The code should split the atudent input into words and print them on screen**

In [41]:
print("Give us your feedback on the sessions you had with codetopia so far")
student = input("Type here: ")
print(student)

Give us your feedback on the sessions you had with codetopia so far
Type here: It was a wonderful experience. every time spent was fruitful and very educative
It was a wonderful experience. every time spent was fruitful and very educative

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [27]:
print("Sign up with your email address")
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print("Your email is " + first_name.lower() + "." + last_name.lower() + "@gmail.com")
print("First name is: " + first_name)

Sign up with your email address
Enter your first name: Eric
Enter your last name: Gordon
Your email is eric.gordon@gmail.com
First name is: Eric

# 5. TUPLES

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of friends. Find the length and type as well.**

In [32]:
my_self = ('Eric', 'Gordon', '21', '20')
print(len(my_self))
type(my_self)

4

tuple

# 6. SETS

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['NAME', 'AGE', 'T','SEX','T','AGE', 5, 6,5]
```

In [30]:
my_list = ['NAME', 'AGE', 'T','SEX','T','AGE', 5, 6,5]
final_my_list = list(dict.fromkeys(my_list))
print(final_my_list)

['NAME', 'AGE', 'T', 'SEX', 5, 6]