<a href="https://colab.research.google.com/github/legacy01/codetopia-A/blob/main/Copy_of_Assignment_1_Variables_Assignment%2C_Math_Ops%2C_Precedence%2C_and_Print_Get.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. VARIABLES ASSIGNMENT

**MINI CHALLENGE #1:**
- **We defined a variable student_id and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
student_id = 3324
student_id = 3400
student_id = 3530
student_id
```

In [1]:
student_id = 3324
student_id = 3400
student_id = 3530
student_id

3530

**MINI CHALLENGE #2:**
- **We defined a variable codetopia_id and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
codetopia_id = 112
codetopia_id = 115.3
type(codetopia_id)
```

In [2]:
codetopia_id = 112
codetopia_id = 115.3
type(codetopia_id)

float

# 2. MATH OPERATIONS

**MINI CHALLENGE #3:** 
- **Write a code that calculates the total amount of money codetopia management spends on tutor fees if the total number of tutors are 23 and each tutor is paid 2500 cedis**

In [3]:
Tamount = 0
Ttutors = 23
amount = 2500
Tamount = Ttutors * amount
Tamount

57500

**MINI CHALLENGE #4:**
- **Write a code that takes in the amount students paid a day and calculate the total amount of money received after two days:**
  - **fees paid on day 1 = 260 cedis** 
  - **fees paid on day 2 = 280 cedis**

In [10]:
amount1 = 260
amount2 = 280
totalAmount = amount1 + amount2
totalAmount

540

# 3. ORDER OF OPERATIONS (PRECEDENCE)

**MINI CHALLENGE #5:**
- **Assume that 15 students joined the coding program at a fee of 300 cedis per a student. Codetopia later increased the fee to 500 cedis per a student. Calculate the profit that will be made.**

In [4]:
student = 15
firstFee = 300
firstAmount = student * firstFee
secondFee = 500
secondAmount = student * secondFee
profit = secondAmount - firstAmount
profit

3000

**MINI CHALLENGE #6:** 
- **Write a code that performs the following mathematical operation: z = |x âˆ’ y| * (x + y)**

In [6]:
x = 3
y = 6
minus = x - y
add = x + y
z = minus * add
z

-27

# 4. PRINT OPERATION

**MINI CHALLENGE #7:**
- **Write a code that print out the statement below along with your name**
- **i.e.: The total number of students at Codetopia are 30. (Barbara)**

In [7]:
myName = "The total number of students at Codetopia are 30. (Eric)"
myName

'The total number of students at Codetopia are 30. (Eric)'

# 5. GET USER INPUT

**MINI CHALLENGE #8:** 
- **Write a code that takes in the name of the company, course fee, the number of courses that you want to study and prints out the total funds required to pay for the courses. Find a sample expected output below:**

  - Enter the fee for a course you want to study: 3000  
  - Enter the number of courses that you want to pay for: 5
  - Enter the name of the company that you want to study at: UniDev
  - The total funds required to pay for 5 number of Codetopia courses at 3000 is 15000

In [9]:
company = input("Enter the name of the company ")
courseFee = int(input("Enter the course fee "))
ncourse = int(input("Enter the number of courses "))
totalFund = courseFee * ncourse
print("The total funds required to pay for " + str(ncourse) + " number of Codetopia coures at " + str(courseFee) + " is " + str(totalFund))

Enter the name of the company Sololearn
Enter the course fee 5000
Enter the number of courses 4
The total funds required to pay for 4 number of Codetopia coures at 5000 is 20000

# EXCELLENT JOB